parameters:
    level: 6
    paths:
        - modules/gateways/seixastec_mercadopago/Api.php
        - modules/gateways/seixastec_mercadopago/Validator.php
        - modules/gateways/seixastec_mercadopago/InvoiceAmount.php
        - modules/gateways/seixastec_mercadopago/WebhookSignature.php
        - modules/gateways/seixastec_mercadopago/BrazilAddress.php
        - tests/Unit
    bootstrapFiles:
        - tests/bootstrap.php
    tmpDir: .phpstan.cache
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - identifier: missingType.iterableValue
